@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Oswald&display=swap');

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
    font-family:'Oswald';
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #005ec9;
    color: white;
}
header {
    background-color: white;
    opacity: 60%;
    display: grid;
    grid-template-columns: 150px auto;
    border: 5px solid #005ec9;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 120px;
    opacity: 100%;
}
.logo:hover {
    opacity: 80%;
    transform: scale(1.1);
}
#hero {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 100px;
    margin-top: -100px;
}
#hero-img {
    width: 100%;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    color: #003049;
    font-family: 'Oswald';
}
.home-title {
    font-family: 'oswald', sans-serif;
    font-size: 50px;
}
.home-title2 {
    font-family: 'oswald', sans-serif;
    font-size: 30px;
}
.home-para {
    font-family: 'Mulish', serif;
    font-size: 20px;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
    grid-template-rows: 4fr 1fr;
}
.brands {
    width: 100%;
    grid-column: 2/3;
    text-align: center;
    font-family: 'Mulish';
}
.brands-img {
    grid-row: 1/2;
    padding: 7px;
    margin: 25px;
    box-shadow: 5px 10px 5px gray;
}
.brands-img:hover {
    opacity: 80%;
    transform: scale(1.1);
}
.brands h1 {
    grid-row: 2/3;
}
.tips {
    width: 100%;
    grid-column: 4/5;
    text-align: center;
    font-family: 'Mulish';
}
.tips-img {
    grid-row: 1/2;
    margin: 25px;
    box-shadow: 5px 10px 5px gray;
}
.tips-img:hover {
    opacity: 80%;
    transform: scale(1.1);
}
.tips h1 {
    grid-row: 2/3;
}
footer {
    background-color: white;
    padding: 25px 25px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    border: 5px solid #005ec9;
    justify-content: center;
}
footer p {
    font-size: 1.2em;
    grid-column: 1/2;
    text-align: center;
    /* padding-left: 35px; */
    font-family: 'Mulish';
}
footer a {
    font-size: 1.2em;
    grid-column: 2/3;
    text-align: center;
    font-family: 'Mulish';
    text-decoration: none;
    color: black;
    align-self: center;
}
footer a:hover {
    opacity: 90%;
    transform: scale(1.1);
}
.websites img {
    width: 100px;
}
.websites img:hover {
    opacity: 80%;
    transform: scale(1.1);
}
.websites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
#skiweb {
    grid-column: 1/2;
}
#polweb {
    grid-column: 2/3;
}
#acweb {
    grid-column: 3/4;
}
.brands-main {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.brands-heading {
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    grid-row: 1/2;
    font-family: 'Oswald';
}
.polaris_brand {
    grid-row: 1/2;
}
.skidoo_brand {
    grid-row: 2/3;
}
.arcticcat_brand {
    grid-row: 3/4;
}
.polaris-img, .skidoo-img, .ac-img {
    width: 100%;
}
.polaris_img {
    grid-column: 3/4;
}
.polaris_msg {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    font-family: 'Mulish';
}
.skidoo_img {
    grid-column: 2/3;
    grid-row: 2/3;
}
.skidoo-msg {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    font-family: 'Mulish';
}
.arcticcat_img {
    grid-column: 3/4;
    grid-row: 3/4;
}
.ac-msg {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    font-family: 'Mulish';
}
.polaris_msg h1 {
    color: #005ec9;
    font-size: 40px;
}
.skidoo-msg h1 {
    color: #005ec9;
    font-size: 40px;
}
.ac-msg h1 {
    color: #005ec9;
    font-size: 40px;
}
.brands-heading h1 {
    color: #005ec9;
    font-size: 65px;
}
.tips-main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.tips-main img {
    width: 100%;
}
.tips-main h1 {
    grid-column: 2/3;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 60px;
    color: white;
    background-color: #005ec9;
    font-family: 'Oswald';
}
.sidehill {
    grid-column: 2/3;
    padding: 50px;
    border: 2px solid #005ec9;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Mulish';
}
.hopover {
    grid-column: 2/3;
    padding: 50px;
    border: 2px solid #005ec9;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Mulish';
}
.bowtie {
    grid-column: 2/3;
    padding: 50px;
    border: 2px solid #005ec9;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Mulish';
}
.brands-img {
    border: 2px solid #005ec9;
}
