@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Oswald:wght@300&display=swap');

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: white;
    color: #003049;
}
header {
    background-color: #6bb3ff;
    opacity: 90%;
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 120px;
    opacity: 100%;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 100px;
    margin-top: -100px;
}
#hero-img {
    width: 100%;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    color: #003049;
}
.home-title {
    font-family: 'oswald', sans-serif;
    font-size: 50px;
}
.home-title2 {
    font-family: 'oswald', sans-serif;
    font-size: 30px;
}
.home-para {
    font-family: 'Mulish', serif;
    font-size: 20px;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
}
.brands {
    width: 100%;
    grid-column: 2/3;
    text-align: center;
}
.tips {
    width: 100%;
    grid-column: 4/5;
    text-align: center;
}
.brand-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color: white;
    padding: 25px 25px;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 5px solid #6bb3ff;
    justify-content: center;
}
footer p {
    font-size: 1.2em;
    grid-column: 1/2;
    text-align: left;
    padding-left: 35px;
}
.websites img {
    width: 100px;
}
.websites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.brands-main {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.brands-heading {
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    grid-row: 1/2;
}
.polaris_brand {
    grid-row: 1/2;
}
.skidoo_brand {
    grid-row: 2/3;
}
.arcticcat_brand {
    grid-row: 3/4;
}
.polaris-img, .skidoo-img, .ac-img {
    width: 100%;
}
.polaris_img {
    grid-column: 3/4;
}
.polaris_msg {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
}
.skidoo_img {
    grid-column: 2/3;
    grid-row: 2/3;
}
.skidoo-msg {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
}
.arcticcat_img {
    grid-column: 3/4;
    grid-row: 3/4;
}
.ac-msg {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
}
.polaris_msg h1 {
    color: #005ec9;
    font-size: 40px;
}
.skidoo-msg h1 {
    color: #005ec9;
    font-size: 40px;
}
.ac-msg h1 {
    color: #005ec9;
    font-size: 40px;
}
.brands-heading h1 {
    color: #005ec9;
    font-size: 65px;
}